@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Black.eot");
  src: url("./../fonts/Vazir-Regular.eot?#iefix") format("embedded-opentype"),
    url("./../fonts/Vazir-Regular.woff2") format("woff2"),
    url("./../fonts/Vazir-Regular.woff") format("woff"),
    url("./../fonts/Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Bold.eot");
  src: url("./../fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("./../fonts/Vazir-Bold.woff2") format("woff2"),
    url("./../fonts/Vazir-Bold.woff") format("woff"),
    url("./../fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Thin.eot");
  src: url("./../fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"),
    url("./../fonts/Vazir-Thin.woff2") format("woff2"),
    url("./../fonts/Vazir-Thin.woff") format("woff"),
    url("./../fonts/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Light.eot");
  src: url("./../fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"),
    url("./../fonts/Vazir-Light.woff2") format("woff2"),
    url("./../fonts/Vazir-Light.woff") format("woff"),
    url("./../fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Medium.eot");
  src: url("./../fonts/Vazir-Medium.eot?#iefix") format("embedded-opentype"),
    url("./../fonts/Vazir-Medium.woff2") format("woff2"),
    url("./../fonts/Vazir-Medium.woff") format("woff"),
    url("./../fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Black.eot");
  src: url("./../fonts/Vazir-Black.eot?#iefix") format("embedded-opentype"),
    url("./../fonts/Vazir-Black.woff2") format("woff2"),
    url("./../fonts/Vazir-Black.woff") format("woff"),
    url("./../fonts/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}

.nav a {
  padding: 1rem;
}

.item-side ul li {
  margin-top: 3rem;
}
.item-side ul li:hover {
  background-color: #5841da;
  border-radius: 5px;
  color: white;
  padding: 1rem 0.75rem 1rem 3rem;
  cursor: pointer;
  margin-right: 0px;
  width: 190px;
}
.item-side a {
  display: flex;
  flex-direction: row;
}
.item-footer {
  margin: 1rem 0rem 0rem 4rem;
}
.item-footer li {
  margin: 1rem;
}
.contact {
  display: flex;
  flex-direction: column;
}

.contact li {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.item-order {
  position: relative;
  left: 4rem;
  display: flex;
  flex-direction: column;
}

.item-order ul li {
  margin: 10px;
}

.item-name__currency ul li {
  margin: 14px;
  margin-right: 7rem;
}

.item-name__currency li {
  font-size: 12px;
  color: gray;
}

.item-name__currency span {
  font-size: 14px;
  margin-right: 3px;
  font-weight: 700;
  color: black;
}

.item-panel {
  display: flex;
  flex-direction: column;
}
.item-panel ul li {
  margin: 24px 22px;
  font-size: 14px;
}

.data-time {
  color: #707070;
  display: flex;
  flex-direction: column;
}

.data-time ul li {
  margin: 24px 15px;
  font-weight: 400;
  font-size: 14px;
}

.type {
  color: #707070;
  display: flex;
  flex-direction: column;
}

.type ul li {
  margin: 24px 15px;
  font-weight: 400;
  font-size: 14px;
}

.price {
  color: #707070;
  display: flex;
  flex-direction: column;
}
.price ul li {
  margin: 24px 15px;
  font-weight: 400;
  font-size: 14px;
}

.amount {
  color: #707070;
  display: flex;
  flex-direction: column;
}
.amount ul li {
  margin: 24px 15px;
  font-weight: 400;
  font-size: 14px;
}
.total-price {
  color: #707070;
  display: flex;
  flex-direction: column;
}
.total-price ul li {
  margin: 24px 15px;
  font-weight: 400;
  font-size: 14px;
}
.full {
  color: #707070;
  display: flex;
  flex-direction: column;
}
.full ul li {
  margin: 24px 15px;
  font-weight: 400;
  font-size: 14px;
}
.delete {
  color: #db0000;
  display: flex;
  flex-direction: column;
}
.delete ul li {
  margin: 24px 12px;
  font-weight: 400;
  font-size: 14px;
}
